<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230415.182959-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="Certes" version="3.0.3" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230415.233652-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230408.121401-sym" targetFramework="net481" />
  <package id="nilnul._data_._LIB_" version="1.1.230318.144409-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.230630.144714-sym" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.220906.140610" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230522.92555-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230419.172425-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230623.10954-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230617.144331-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230615.145110-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.230319.90029-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230630.121127-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230531.94846-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.230618.115840-sym" targetFramework="net481" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.7713.29418" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>